<app-top-bar></app-top-bar>

<div class="loading" *ngIf="!storiesLoaded">
  <mat-spinner></mat-spinner>
</div>

<div class="container" *ngIf="storiesLoaded | async">
  <mat-list
    *ngFor="
      let story of bestStoriesInfo.slice(50 * pageIndex, 50 * pageIndex + 50)
    "
  >
    <mat-card class="example-card">
      <mat-card-header>
        <div class="avatar" mat-card-avatar>
          <mat-icon aria-hidden="false" aria-label="Example home icon"
            >keyboard_arrow_up</mat-icon
          >
          <p>{{ story.score }} </p>
        </div>
        <mat-card-title
          ><a target="_blank" href="{{ story.url }}">{{
            story.title
          }}</a></mat-card-title
        >
        <mat-card-subtitle>
          Autor: {{ story.by }} | 
          Publicado: {{story.time*1000 | date: 'dd-MM-yyyy'}} |
          Comentarios: {{ story.descendants }}</mat-card-subtitle
        >
      </mat-card-header>
      <mat-card-content *ngIf="story.text">
        <div [innerHTML]="story.text"></div>
      </mat-card-content>
    </mat-card>
  </mat-list>

  <mat-paginator
    #paginator
    [length]="length"
    [pageSize]="pageSize"
    (page)="pageEvent = handleEvent($event)"
    nextPageLabel = "Siguiente página"
    hidePageSize
  >
  </mat-paginator>
</div>
